*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
  font-family: "Poppins";
  font-size: 15px;
  background: #FAFAFA;

}
.creative{
    margin :100px 260px 120px 290px ;
    color: #000000;
}

.heading{
    display: flex;
    margin-bottom:50px ;
    justify-content: space-between;
}
.head{
    font-family:"PT Serif";
    font-size: 2.6rem;
    font-weight: bold;
}
.about{
    align-self: center;
    display: flex;
    flex-direction: column;
    margin-right: 120px;
}
 .who{
     margin-bottom: 5px;
     font-weight: 600;
    font-size: 1.4rem;
    word-spacing: -0.08rem;
        
    }
    
.description{
 font-size: 1.2rem;
font-weight: 100;
margin-top: 7px;
word-spacing: 0.6rem;
letter-spacing: 0.2rem;
}

.image-container1{
    display: flex;  
    justify-content: space-between;
    margin-top:150px;
    
}

.image-container2{
    display: flex;
    justify-content: space-between;
    margin-top:60px;
}
.avatar-img{
    width:80% 
}
.img{
    width: 88%;
}
.inverse{
display: flex;
}
.saba-griff{
    margin-top:90px;
}

.role{
    margin-left: 10px;
    writing-mode: vertical-rl;
text-orientation: mixed;
font-family: "PT Serif";
font-weight: 400;
font-size: 0.9rem;
text-transform: uppercase;

}
.name{
    margin-top: 10px;
    font-weight: 600;
    font-size: 1.2rem;
    word-spacing: 0.1rem;
}
.foot { 
    color: #BDBDBD;
    font-family: Montserrat;
    font-size: 1.3rem;
    text-align: center;
 }
.f{ 
    margin-right: 90px;
    margin-bottom:25px
} 